<a href="https://colab.research.google.com/github/Ronalde-web/ATIVIDADE-JUPYTER/blob/main/Atividade_hugo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt
import numpy as np

In [8]:
df = pd.read_excel('/content/Micro_Dados_SAEB_2021.xlsx')

In [12]:
df.head(6)

,NU_ANO_SAEB,CO_UF,CO_MUNICIPIO,IN_CAPITAL,TP_LOCALIZACAO,ID_EDUCACAO_INFANTIL,TP_EDUCACAO_INFANTIL,TP_DEPENDENCIA_ADM_ESTRT,NU_DOMINIO,NU_ESTRATO,...,EG4Q66,EG4Q67,EG4Q68,EG4Q69,EG4Q70,EG4Q71,EG4Q72,EG4Q73,EG4Q74,EG5Q01
0,2021,11,1100015,0,1,60,2.0,1.0,111.0,111102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,11,1100015,0,1,61,2.0,1.0,111.0,111102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,11,1100015,0,1,62,2.0,1.0,111.0,111102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,11,1100015,0,1,63,2.0,1.0,111.0,111102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,11,1100015,0,1,195,3.0,1.0,111.0,111103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021,11,1100015,0,1,196,3.0,1.0,111.0,111103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.groupby(['Modelo']).size()

In [11]:
df.info

<bound method DataFrame.info of        NU_ANO_SAEB  CO_UF  CO_MUNICIPIO  IN_CAPITAL  TP_LOCALIZACAO  \
0             2021     11       1100015           0               1
1             2021     11       1100015           0               1
2             2021     11       1100015           0               1
3             2021     11       1100015           0               1
4             2021     11       1100015           0               1
...            ...    ...           ...         ...             ...
62922         2021     53       5300108           1               1
62923         2021     53       5300108           1               1
62924         2021     53       5300108           1               1
62925         2021     53       5300108           1               1
62926         2021     53       5300108           1               2

       ID_EDUCACAO_INFANTIL  TP_EDUCACAO_INFANTIL  TP_DEPENDENCIA_ADM_ESTRT  \
0                        60                   2.0                       1.0
1                        61                   2.0                       1.0
2                        62                   2.0                       1.0
3                        63                   2.0                       1.0
4                       195                   3.0                       1.0
...                     ...                   ...                       ...
62922                 62923                   4.0                       3.0
62923                 62924                   4.0                       3.0
62924                 62925                   4.0                       3.0
62925                 62926                   4.0                       3.0
62926                 62927                   4.0                       3.0

       NU_DOMINIO  NU_ESTRATO  ...  EG4Q66 EG4Q67  EG4Q68 EG4Q69  EG4Q70  \
0           111.0    111102.0  ...     NaN    NaN     NaN    NaN     NaN
1           111.0    111102.0  ...     NaN    NaN     NaN    NaN     NaN
2           111.0    111102.0  ...     NaN    NaN     NaN    NaN     NaN
3           111.0    111102.0  ...     NaN    NaN     NaN    NaN     NaN
4           111.0    111103.0  ...     NaN    NaN     NaN    NaN     NaN
...           ...         ...  ...     ...    ...     ...    ...     ...
62922       533.0    533114.0  ...     NaN    NaN     NaN    NaN     NaN
62923       533.0    533114.0  ...       A      A       B      A       A
62924       533.0    533114.0  ...     NaN    NaN     NaN    NaN     NaN
62925       533.0    533114.0  ...     NaN    NaN     NaN    NaN     NaN
62926       533.0    533214.0  ...     NaN    NaN     NaN    NaN     NaN

       EG4Q71  EG4Q72  EG4Q73  EG4Q74  EG5Q01
0         NaN     NaN     NaN     NaN     NaN
1         NaN     NaN     NaN     NaN     NaN
2         NaN     NaN     NaN     NaN     NaN
3         NaN     NaN     NaN     NaN     NaN
4         NaN     NaN     NaN     NaN     NaN
...       ...     ...     ...     ...     ...
62922     NaN     NaN     NaN     NaN     NaN
62923       A       A       A       A     NaN
62924     NaN     NaN     NaN     NaN     NaN
62925     NaN     NaN     NaN     NaN     NaN
62926     NaN     NaN     NaN     NaN     NaN

[62927 rows x 421 columns]>

In [13]:
df.dtypes

NU_ANO_SAEB        int64
CO_UF              int64
CO_MUNICIPIO       int64
IN_CAPITAL         int64
TP_LOCALIZACAO     int64
                   ...
EG4Q71            object
EG4Q72            object
EG4Q73            object
EG4Q74            object
EG5Q01            object
Length: 421, dtype: object

In [22]:
teste = df['IN_CAPITAL']

In [25]:
teste1 = df.loc[:,['IN_CAPITAL']]

In [32]:
mediana = df['IN_CAPITAL'].median
print("Mediana: ", mediana)

Mediana:  <bound method NDFrame._add_numeric_operations.<locals>.median of 0        0
1        0
2        0
3        0
4        0
        ..
62922    1
62923    1
62924    1
62925    1
62926    1
Name: IN_CAPITAL, Length: 62927, dtype: int64>

In [33]:
moda = df['IN_CAPITAL'].mode
print(moda)

<bound method Series.mode of 0        0
1        0
2        0
3        0
4        0
        ..
62922    1
62923    1
62924    1
62925    1
62926    1
Name: IN_CAPITAL, Length: 62927, dtype: int64>

In [28]:
import statistics
import math
from scipy import stats
from collections import Counter

In [36]:
#Média
print(teste1.mean())

IN_CAPITAL    0.227931
dtype: float64

In [38]:
# Variancia
teste1.var()

IN_CAPITAL    0.175981
dtype: float64

In [39]:
#desvio padrão
teste1.std()

IN_CAPITAL    0.419501
dtype: float64

In [40]:
teste1.mode()

   IN_CAPITAL
0           0

In [44]:
# TROCANDO OS VALORES DA COLUNA ('transmissao') DE OBJECT PARA INT

df['CO_UF'].replace({11: 'RO', 12: 'AC', 13: 'AM', 14:'RR', 15:'PA',16:'AP',
17:'TO', 21:'MA', 22:'PI',23:'CE',24:'RN',25:'PB',26:'PE',27:'AL',28:'SE',29:'BA',
31:'MG',32:'ES',33:'RJ',35:'SP',41:'PR',42:'SC',43:'RS',50:'MS',51:'MT',52:'GO',53:'DF'})

0        RO
1        RO
2        RO
3        RO
4        RO
         ..
62922    DF
62923    DF
62924    DF
62925    DF
62926    DF
Name: CO_UF, Length: 62927, dtype: object